@font-face {
  font-family: "Univers Condensed";
  src: url('/css/fonts/universcondensed.ttf') format('truetype'), url('/css/fonts/universcondensed.otf') format('opentype'), url('/css/fonts/universcondensed.eot') format('embedded-opentype'), url('/css/fonts/universcondensed.woff') format('woff');
}

@font-face {
  font-family: "Univers Condensed Bold";
  src: url('/css/fonts/universcondensedbold.ttf') format('truetype'), url('/css/fonts/universcondensedbold.otf') format('opentype'), url('/css/fonts/universcondensedbold.eot') format('embedded-opentype'), url('/css/fonts/universcondensedbold.woff') format('woff');
}

/* line 1, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_images.sass */
.image-center {
  margin: auto;
}

/* line 4, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_images.sass */
.thumbnail-horizontal {
  display: inline-flex;
  width: 440px;
}
/* line 8, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_images.sass */
.thumbnail-horizontal .img-horizontal {
  height: 100%;
  width: 195px;
}
/* line 12, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_images.sass */
.thumbnail-horizontal img {
  max-height: 100%;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 100%;
}

/* line 3, ../../sass/layouts/default.sass */
a.btn-vermas {
  display: block;
}
/* line 6, ../../sass/layouts/default.sass */
a.btn-vermas img {
  margin-right: -9px;
}

/* line 9, ../../sass/layouts/default.sass */
nav.navbar {
  margin-bottom: 40px;
  border-bottom-color: #f80047;
}

/* line 13, ../../sass/layouts/default.sass */
footer > .navbar {
  margin-bottom: 0;
  padding-top: 14px;
}

/* line 17, ../../sass/layouts/default.sass */
.caption.caption-vermas {
  padding-bottom: 0;
}

/* line 20, ../../sass/layouts/default.sass */
.carousel-control .glyphicon-chevron-left {
  margin-left: -4px;
}

/* line 23, ../../sass/layouts/default.sass */
.carousel-inner {
  box-shadow: 0 0 5px 5px #cccccc;
  margin-bottom: 20px;
}

/* line 27, ../../sass/layouts/default.sass */
.menu-button {
  font-family: "Univers Condensed";
  letter-spacing: -1px;
  text-transform: uppercase;
}

/* line 30, ../../sass/layouts/default.sass */
.navbar-brand {
  height: auto;
}

/* line 33, ../../sass/layouts/default.sass */
.navbar-default .navbar-nav > li > a:hover, .thumbnail p:hover {
  color: #f80047;
}

/* line 37, ../../sass/layouts/default.sass */
.row-banner {
  margin-bottom: 20px;
}
/* line 40, ../../sass/layouts/default.sass */
.row-banner div:first-child {
  margin-top: 18px;
}

/* line 43, ../../sass/layouts/default.sass */
.row-login {
  font-family: "Univers Condensed";
  letter-spacing: -1px;
  text-transform: uppercase;
  background-color: #f80047;
  color: white;
  margin-bottom: 18px;
  margin-left: auto;
  margin-top: -40px;
  position: fixed;
  z-index: 100;
}
/* line 54, ../../sass/layouts/default.sass */
.row-login a, .row-login a:visited {
  color: white;
}
/* line 57, ../../sass/layouts/default.sass */
.row-login a:hover {
  color: #feccda;
}

/* line 60, ../../sass/layouts/default.sass */
.row-redes-sociales {
  background-color: #f80047;
  color: white;
  margin-bottom: 18px;
  margin-left: auto;
  margin-top: -17px;
  position: fixed;
  z-index: 100;
}
/* line 69, ../../sass/layouts/default.sass */
.row-redes-sociales a, .row-redes-sociales a:visited {
  color: white;
}

/* line 73, ../../sass/layouts/default.sass */
.thumbnail {
  height: 188px;
}
/* line 76, ../../sass/layouts/default.sass */
.thumbnail p:hover {
  cursor: pointer;
}

/* line 79, ../../sass/layouts/default.sass */
#container {
  margin-top: 90px;
}
