@font-face {
  font-family: "Univers Condensed";
  src: url('/css/fonts/universcondensed.ttf') format('truetype'), url('/css/fonts/universcondensed.otf') format('opentype'), url('/css/fonts/universcondensed.eot') format('embedded-opentype'), url('/css/fonts/universcondensed.woff') format('woff');
}

@font-face {
  font-family: "Univers Condensed Bold";
  src: url('/css/fonts/universcondensedbold.ttf') format('truetype'), url('/css/fonts/universcondensedbold.otf') format('opentype'), url('/css/fonts/universcondensedbold.eot') format('embedded-opentype'), url('/css/fonts/universcondensedbold.woff') format('woff');
}

/* line 1, ../../sass/_images.sass */
.image-center {
  margin: auto;
}

/* line 3, ../../sass/layouts/default.sass */
h1 {
  background-color: #f80047;
  color: white;
  font-family: "Univers Condensed Bold";
  font-size: 1.3em;
  margin: 0;
  padding: 10px 15px 0;
  text-transform: uppercase;
}
/* line 12, ../../sass/layouts/default.sass */
h1 ~ div {
  width: 212px;
  border-top: 10px solid #f80047;
  border-right: 10px solid transparent;
}

/* line 17, ../../sass/layouts/default.sass */
h3 {
  font-size: 1em;
  margin-top: 5px;
  text-align: left;
}

/* line 23, ../../sass/layouts/default.sass */
header nav {
  background-image: url('/img/layouts/backheader.jpg?1392246968');
}
/* line 26, ../../sass/layouts/default.sass */
header nav.navbar {
  margin-bottom: 40px;
  border-bottom-color: #f80047;
}

/* line 30, ../../sass/layouts/default.sass */
footer > .navbar {
  font-size: 0.83em;
  margin-bottom: 0;
  padding-top: 14px;
}

/* line 36, ../../sass/layouts/default.sass */
.carousel-control .glyphicon-chevron-left {
  margin-left: -4px;
}

/* line 39, ../../sass/layouts/default.sass */
.carousel-inner {
  box-shadow: 0 0 5px 5px #cccccc;
  margin-bottom: 20px;
}

/* line 43, ../../sass/layouts/default.sass */
li > a.menu-button {
  font-family: "Univers Condensed";
  letter-spacing: -1px;
  text-transform: uppercase;
  padding-left: 7px;
  padding-right: 7px;
}

/* line 49, ../../sass/layouts/default.sass */
.navbar-brand {
  height: auto;
}

/* line 52, ../../sass/layouts/default.sass */
.navbar-default .navbar-nav > li > a:hover, .thumbnail p:hover {
  color: #f80047;
}

/* line 55, ../../sass/layouts/default.sass */
.row-login {
  font-family: "Univers Condensed";
  letter-spacing: -1px;
  text-transform: uppercase;
  background-color: #f80047;
  color: white;
  margin-bottom: 18px;
  margin-left: auto;
  margin-top: -40px;
  position: fixed;
  z-index: 100;
}
/* line 66, ../../sass/layouts/default.sass */
.row-login a, .row-login a:visited {
  color: white;
}
/* line 69, ../../sass/layouts/default.sass */
.row-login a:hover {
  color: #feccda;
}

/* line 72, ../../sass/layouts/default.sass */
.row-header-h1 {
  margin-bottom: 20px;
}

/* line 75, ../../sass/layouts/default.sass */
.row-redes-sociales {
  background-color: #f80047;
  color: white;
  margin-bottom: 18px;
  margin-left: auto;
  margin-top: -17px;
  position: fixed;
  z-index: 100;
}
/* line 84, ../../sass/layouts/default.sass */
.row-redes-sociales a, .row-redes-sociales a:visited {
  color: white;
}

/* line 87, ../../sass/layouts/default.sass */
#container {
  margin-top: 90px;
}

/* line 90, ../../sass/layouts/default.sass */
#container-h1 {
  height: 0;
  width: 80px;
  border-bottom: 80px solid blue;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}
