/* line 1, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
a.btn-vermas {
  display: block;
}
/* line 4, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
a.btn-vermas img {
  margin-right: -9px;
}

/* line 7, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.caption.caption-vermas {
  padding-bottom: 0;
}

/* line 10, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.row-banner {
  margin-bottom: 20px;
}
/* line 13, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.row-banner div:first-child {
  margin-top: 18px;
}
/* line 16, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.row-banner img {
  height: 150px;
}
/* line 19, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.row-banner img.banner-large {
  height: 300px;
}

/* line 22, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.thumbnail {
  height: 192px;
  max-height: 192px;
}
/* line 27, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.thumbnail p:hover {
  cursor: pointer;
}

/* line 30, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.thumbnail-horizontal {
  display: table;
  width: 440px;
}
/* line 34, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.thumbnail-horizontal .caption-vermas {
  height: 72%;
}
/* line 37, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.thumbnail-horizontal .img-horizontal {
  height: 100%;
  max-height: 350px;
  display: table-cell;
  max-width: 195px;
  width: 195px;
  vertical-align: middle;
}
/* line 45, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
.thumbnail-horizontal img {
  max-height: 178px;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 100%;
}

/* line 51, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_cajas.sass */
#text-nota4 {
  height: 100%;
}

/* line 3, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_carrousel.sass */
.carousel-control {
  width: 0;
}

/* line 6, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_carrousel.sass */
.carousel-indicators {
  bottom: 0;
  left: 50%;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0;
  margin-left: -30%;
  padding-left: 0;
  position: absolute;
  text-align: center;
  width: auto;
  z-index: 15;
}

/* line 20, /datos/Documentos/Colectivo Libre/Workspace/club-de-danza/app/webroot/sass/_carrousel.sass */
.carousel-caption {
  background-color: #f80047;
  bottom: 0;
  color: white;
  height: 30%;
  left: 0;
  padding: 3px 5px;
  opacity: 0.9;
  width: 50%;
}
