@import colors, fonts, images

nav.navbar
	margin-bottom: 40px
	border-bottom-color: $login

footer > .navbar
	margin-bottom: 0
	padding-top: 14px

.menu-button
	+navfont

.navbar-brand
	height: auto

.navbar-default .navbar-nav > li > a:hover, .thumbnail h3:hover
	color: $login


.row-banner
	margin-bottom: 20px

.row-login
	+navfont

	background-color: $login
	color: $white
	margin-bottom: 18px
	margin-left: auto
	margin-top: -40px
	position: fixed
	z-index: 100

	a, a:visited
		color: $white

	a:hover
		color: $login-hover

.thumbnail h3:hover
	cursor: pointer

#container
	margin-top: 90px
