@import cajas, colors, fonts, images

h1
	background-color: $login
	color: $white
	font-family: "Univers Condensed Bold"
	font-size: 1.3em
	margin: 0
	padding: 10px 15px 0
	text-transform: uppercase

	& ~ div
		width: 212px
		border-top: 10px solid $login
		border-right: 10px solid transparent

h3
	font-size: 1em
	margin-top: 5px
	text-align: left

header
	nav
		background-image: image-url('layouts/backheader.jpg')

		&.navbar
			margin-bottom: 40px
			border-bottom-color: $login

footer > .navbar
	font-size: 0.83em
	margin-bottom: 0
	padding-top: 14px


.carousel-control .glyphicon-chevron-left
	margin-left: -4px

.carousel-inner
	box-shadow: 0 0 5px 5px #CCCCCC
	margin-bottom: 20px

li > a.menu-button
	+navfont

	padding-left: 7px
	padding-right: 7px

.navbar-brand
	height: auto

.navbar-default .navbar-nav > li > a:hover, .thumbnail p:hover
	color: $login

.row-login
	+navfont

	background-color: $login
	color: $white
	margin-bottom: 18px
	margin-left: auto
	margin-top: -40px
	position: fixed
	z-index: 100

	a, a:visited
		color: $white

	a:hover
		color: $login-hover

.row-header-h1
	margin-bottom: 20px

.row-redes-sociales
	background-color: $login
	color: $white
	margin-bottom: 18px
	margin-left: auto
	margin-top: -17px
	position: fixed
	z-index: 100

	a, a:visited
		color: $white

#container
	margin-top: 90px

#container-h1
	height: 0 
	width: 80px
	border-bottom: 80px solid blue
	border-left: 40px solid transparent
	border-right: 40px solid transparent
