.notes-body
	font-family: arial,sans-serif
	line-height: 1.48em
	text-align: justify

.notes-description
	font-family: georgia,"times new roman",times,serif
	text-transform: uppercase

.notes-resume
	font-family: georgia,"times new roman",times,serif
	font-weight: normal
	line-height: 1.2em